# virtualenv
.venv/
uv.lock
# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
# editor
.vscode/
.idea/
# system
.DS_Store
# env files
.env
# pytest / caches
.pytest_cache/
logs/
bkp/
old/
old_prompts_to_maybe_check/
